.your-button-css-class {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: var(--size-4-1);
    background-color: yellow;
    margin-bottom: 40px;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    z-index: 10;
}
.your-button-css-class > svg {
    --custom-button-plus-sign-size: 30px;
    width: var(--custom-button-plus-sign-size);
    height: var(--custom-button-plus-sign-size);
}
.inputContainerContainer {
    border-bottom: 1px solid;
    padding-bottom: 20px;
    width: 100%;
}
.inputContainerContainer input {
    width: 100% !important;
    border-radius: 2em;
    margin-top: 15px;
}
.divBorder {
    max-width: fit-content;
}
.divBorder button {
    border-radius: 2em;
    margin: 2px;
    background-color: var(--pill-background);
    color: var(--pill-color);
    border: var(--pill-border-width) solid var(--pill-border-color);
    border-radius: var(--pill-radius);
    font-weight: var(--pill-weight);
}
.listMargin {
    margin-top: 20px;
}
.tagList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.borderTestClass {
    border-radius: 2em;
    margin: 2px;
    background-color: var(--pill-background);
    color: var(--pill-color);
    border: var(--pill-border-width) solid var(--pill-border-color);
    border-radius: var(--pill-radius);
    font-weight: var(--pill-weight);
    padding: var(--pill-padding-y) 0;
    font-size: var(--font-ui-small);
}
.chainButton{
    display: flex;
    justify-content: center;
}